body {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 0px;
}

.App {
    background-color: #CDFAFF;
}

.link {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    background-color: blanchedalmond;
    border: solid 1px;
    box-shadow: 0.5px 0.5px 5px grey;
}




