body {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 0px;
}

.App {
    background-color: #CDFAFF;
}

.rdt_TableHeader {
    background-color: #CDFAFF;
    font-size: bold;
}

.rdt_TableRow {
    background-color: #CDFAFF;
}


